:host {
  display: flex;
  flex-direction: row;

  padding: 1em;
}

.guildSelect {
  width: 7.5cm;

  & ol {
    margin-right: 1em;

    & > li {
      display: flex;
      flex-direction: row;
      padding: 0.2em;

      & .icon {
        width: 1cm;
        height: 1cm;
        margin-right: 0.5em;

        & img {
          width: auto;
          height: auto;
          max-width: 1cm;
          max-height: 1cm;
        }
      }

      & .name {
        /* TODO: fix text alignment is slightly off */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
      }
    }
  }
}

.guildConfig {
  border: 1px solid white;
  width: 100%;
  padding: 0.7em;
}
