<h2>Level selector</h2>

<div *ngIf="currentLevel">
  <h3>Current level</h3>
  {{ JSON.stringify(currentLevel.id) }} {{ JSON.stringify(currentLevel.id) }}
</div>


<div [ngSwitch]="displayState">
  <div *ngSwitchCase="DisplayState.NoGuildSelected">Please select a server to the left.</div>
  <div *ngSwitchCase="DisplayState.LoadingGuild">Loading channel configuration...</div>
  <div *ngSwitchCase="DisplayState.BotNotInGuild">The bot is not in this server and cannot access the channel list.</div>
  <div *ngSwitchCase="DisplayState.ErrorLoadingGuild">An unknown error has occurred while loading the channel configuration.</div>
  <div *ngSwitchCase="DisplayState.GuildSelected">
    You'll see the tree of LevelInfos here.

    <div *ngIf="levelRoot">
      <h3>Level root</h3>
      <pre>
        {{ JSON.stringify(levelRoot) }}
      </pre>
    </div>
  </div>
</div>
