<div *ngIf="displayState == DisplayState.NoRootLevelSelected; else guildSelected">
  <h2>Level selector</h2>
  Please select a server to the left.
</div>

<ng-template #guildSelected>
  <h2>{{rootLevel?.name}}</h2>
  <div [ngSwitch]="displayState">
    <div *ngSwitchCase="DisplayState.LoadingLevelRoot">Loading channel configuration...</div>
    <div *ngSwitchCase="DisplayState.LevelRootNotAvailable">The bot is not in this server and cannot access the channel list.</div>
    <div *ngSwitchCase="DisplayState.ErrorLoadingLevelRoot">An unknown error has occurred while loading the channel configuration.</div>
    <div *ngSwitchCase="DisplayState.LevelRootLoaded">
      <div *ngIf="levelRoot; else errorState">
        <app-level-selector-item [myLevel]="levelRoot" [currentLevel]="currentLevel" (selected)="onLevelSelected($event)"></app-level-selector-item>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #errorState>
  If you see this you are eligible to receive a free mars bar
</ng-template>
