<div *ngIf="guild != null" class="guildHeader">
  <span class="icon"><img src="{{guild.iconUrl}}" alt="{{guild.name}} icon" /></span>
  <h1 class="nameContainer">
    <span class="name">{{guild.name}} <span class="id muted">({{guild.id}})</span></span>
  </h1>
</div>
<div *ngIf="guildConfig != null" class="guildConfig">
  <div class="channelSelect">
    <ol class="categories">
      <!-- TODO list item for default guild settings -->
      <li *ngFor="let category of guildConfig?.categories">
        <details open><summary><h4 class="name">{{category.name || "Uncategorized" }}</h4></summary>
          <ol class="boxlist">
            <!-- TODO selectable -->
            <li *ngFor="let channel of category.channels">
              <span class="name">{{channel.name}}</span>
            </li>
          </ol>
        </details>
      </li>
    </ol>
  </div>

  <div class="configForm">
    <!-- TODO show configuration form -->
    {{JSON.stringify(guildConfig)}}
  </div>
</div>
