<div *ngIf="guild != null" class="guildHeader">
  <span class="icon"><img src="{{guild.iconUrl}}" alt="{{guild.name}} icon" /></span>
  <h1 class="nameContainer">
    <span class="name">{{guild.name}} <span class="id muted">({{guild.id}})</span></span>
  </h1>
</div>
<div [ngSwitch]="displayState">
  <div *ngSwitchCase="DisplayState.NoGuildSelected">Please select a server to the left.</div>
  <div *ngSwitchCase="DisplayState.LoadingGuild">Loading channel configuration...</div>
  <div *ngSwitchCase="DisplayState.BotNotInGuild">The bot is not in this server and cannot access the channel list.</div>
  <div *ngSwitchCase="DisplayState.ErrorLoadingGuild">An unknown error has occurred while loading the channel configuration.</div>
  <div *ngSwitchCase="DisplayState.GuildSelected" class="guildConfig">
    <div class="channelSelect">
      <ol class="categories">
        <!-- TODO list item for default guild settings -->
        <li [routerLink]="['/guilds/', guildConfig!.id, '0']">
          <span class="name">Server-wide default</span>
        </li>
        <li *ngFor="let category of guildConfig!.categories">
          <details open><summary><h4 class="name">{{category.name || "Uncategorized" }}</h4></summary>
            <ol class="boxlist">
              <!-- TODO selectable -->
              <li *ngFor="let channel of category.channels" [routerLink]="['/guilds/', guildConfig!.id, channel.id]">
                <span class="name">{{channel.name}}</span>
              </li>
            </ol>
          </details>
        </li>
      </ol>
    </div>

    <div class="configForm">
      <div class="selectedItemTitle">
        {{this.itemDisplayName}}
      </div>
      <div *ngIf="itemConfig" [formGroup]="itemConfigForm" (input)="onFormInput()">
        <!--{{JSON.stringify(itemConfig)}}-->
        <form>
          <table>
            <tbody>
            <tr>
                <td>Cooldown:</td>
                <td><input type="checkbox" formControlName="specifyCooldown"></td>
                <td><input type="number" formControlName="cooldown"> seconds</td>
            </tr>
            <tr>
                <td>Sources:</td>
                <td><input type="checkbox" formControlName="specifySources"></td>
                <td>
                  <select multiple="multiple" formControlName="sources">
                    <option name="test1">Test item 1</option>
                    <option name="test2">Test item 2</option>
                    <option name="test3">Test item 3</option>
                  </select>
                </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
